.new-todo, .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header
{
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 90px;
    margin: 0;
    background-color: white;
}
header div
{   margin: 5px;
    left: auto;
    right: auto;
    text-align: center;
}
header .inputDiv
{
    
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    border: 1px solid black ;
    border-radius: 60px;
    display: grid;
    grid-template-columns: 60px ;
}
header .inputDiv button
{
    grid-column: 1;
    margin: 20px;
    text-align: center;
    font-size: large;
    border: none;
    background-color: transparent;
   
}
header .inputDiv input{
    grid-column: 2;
}
ul
{
padding-top: 90px;
}
li
{
    list-style-type: none; 
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-bottom: 10px;
}
input{
    grid-column: 1/4;
    column-count: 3;
    height: 60px;
    width: 100%;
    display:inline-block;
    vertical-align:middle;
    margin: 0;
    padding: 0;
    border-radius: 60px;
    font-size: 24px;
}
input[type="checkbox"]  {
    grid-column: 1;
    height: 60px;
    width: 60px;
    display:inline-block;
    vertical-align:middle;
    margin: 0;
    padding: 0;
    border-radius: 60px;
}
li div 
{
    margin:0 10px 0 10px ;
    overflow-wrap: anywhere;
    grid-column: 2;
    display:inline-block; 
    vertical-align:middle;
    font-size: xx-large;

}
li button
{   
    grid-column: 3;
    
    height: 60px;
    width: 100%;
   
    vertical-align:middle;
    display:inline-block;
    
}

